
manifest {
    /* Homepage of project */
    homePage = 'https://github.com/davisem/Iudex'

    /* Description of project */
    description = 'Iudex: A Pipeline for the analysis of haploid genetic screening sequencing data'

    /* Main pipeline script */
    mainScript = 'iudex.nf'

    /* Default repository branch */
    defaultBranch = 'master'
}

docker {
    /* Enables Docker execution */cd
    enabled = true

    /* Fixes ownership of outputs created inside of a Docker container */
    fixOwnership = true
}

params {
    /* Location of forward and reverse read pairs */
    input_path = "data/raw"

    /* Location of reference genome index files */
    index = "annotations/hg38.fa"

    /* Output directory */
    output_dir = "./test"

    /* Number of threads */
    threads = 4

    intron_bed = "annotations/hg19_ucsc_GeneSymbol_introns_final.bed"

    exon_bed = "annotations/hg19_ucsc_GeneSymbol_exons_final.bed"

    /* Display help message */
    help = ""
}

process {

	$BuildBwaIndex {
        container = "emdavis/iudex:bwa"
        maxForks = 1
    }

    $AlignToGenome {
        container = "emdavis/iudex:bwa"
        maxForks = 1
    }

    $MakeInsertionTables {
    	container = "emdavis/iudex:insertion_counts"
    	maxForks = 4
    }
}